.user_item_view
  .u_list_block
    .u_list.user_name= name
    .u_list.user_age= age
    .u_list.user_country= country
    .u_list.user_member= member
    .u_list.user_activity= activity
  .user_test_data
    canvas#pie-chart-area(width='120', height='120')
    .test_list_region
    //- #legend


