.user_item_view
  .u_list_block
    .u_list.user_name= name
    .u_list.user_age= age
    .u_list.user_country= country
    .u_list.user_member= member
    .u_list.user_activity= activity
  .user_test_data
    canvas.pie-chart-area(width='120', height='120' id='' + name + '')
    .test_list_title_block
      .title_of_user_test_list.user_test_name
        | Test name
        span(class="caret no_numerical" name='test_name')
      .title_of_user_test_list.test_passed
        | Passed
      .title_of_user_test_list.user_test_result
        | Result
        span(class="caret numerical" name='result')
    .test_list_region
    .excellent
    .excellent_mark
      | more then 70%
    .good
    .good_mark
      | more then 50%
    .not_good
    .bad_mark
      | less