.user_item_view
  .u_list_block
    .u_list.user_name= name
    .u_list.user_age= age
    .u_list.user_country= country
    .u_list.user_member= member
    .u_list.user_activity= activity
  .user_test_data
    canvas.pie-chart-area(width='120', height='120' id='' + name + '')
    .test_list_region
    .excellent
    .excellent_mark
      | more then 69%
    .good
    .good_mark
      | more then 49%
    .not_good
    .bad_mark
      | less



